.card {
    background-color: #F5F3FC;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    .header {
        display: flex;
        align-items: center;
        width: 100%;

        .label {
            width: 96%;
            text-align: center;
        }

        img {
            width: 20px;
            height: 20px;
            left: 0;
        }
    }

    h2 {
        font-weight: 100;
        font-size: 20px;
    }

    .fields {
        display: flex;
        width: 95%;
        justify-content: space-between;
        padding-bottom: 30px;

        .photo {
            width: 190px;
            height: 190px;
            border-radius: 100px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 190px;
                height: 190px;
            }
        }

        .column {
            width: 38%;
            display: flex;
            flex-direction: column;

            p {
                margin: 0;
                font-size: 12px;
                padding-left: 10px;
            }

            .inp {
                width: 90%;
                height: 35px;
                padding: 0px 20px;
                margin-bottom: 10px;
            }

            .but {
                margin-top: 18px;
                height: 35px;
                width: 101%;
                color: rgba(255, 255, 255, 0.8);

                h2 {
                    margin: 0;
                    font-size: 20px;
                }
            }
        }
    }
}