.products {
    display: flex;

    .page {
        width: 100%;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .filters {
            width: 95%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            .search {
                width: 35%;
                display: flex;
                align-items: center;

                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }

                .inp {
                    width: 100%;
                    height: 35px;
                    padding: 0px 20px;
                }
            }

            h3 {
                font-weight: 200;
                font-size: 24px;
                margin: 0px 15px 0px 0px;
            }

            .selStatus {
                width: 28%;
                display: flex;

                .sel {
                    width: 100%;
                    height: 37px;
                    padding: 0px 20px;
                }
            }

            .dateOfCreation {
                width: 32%;
                display: flex;

                .date {
                    width: 40%;
                    height: 35px;
                    padding: 0px 20px;
                }
            }
        }

        .no {
            width: 95%;
            display: flex;
            justify-content: center;
            background-color: #F5F3FC;

            h2 {
                font-weight: 100;
                font-size: 30px;
            }
        }

        .addNew {
            width: 95%;
            height: 50px;
            background-color: #F5F3FC;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;

            .plus {
                width: 17px;
                height: 17px;
                margin-right: 10px;
            }

            h2 {
                font-weight: 100;
                font-size: 100%;
                margin: 0;
                color: black;
            }
        }

        .tableHeader {
            width: 95%;
            background-color: #E8E4F4;
            display: flex;
            height: 40px;
            margin-bottom: 10px;

            h2 {
                font-weight: 400;
                font-size: 100%;
                margin: 8px 0px;
            }
        }
    }
}